*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
}
.header{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/banner.png);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 7%;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
}

.active{
    position: relative;
}
.active::after{
    content: '';
    background: #fff;
    height: 2px;
    width: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -10px;
    border-radius: 2px;
}
.register-btn{
    text-decoration: none;
    color: #000;
    background: #fff;
    border-radius: 30px;
    font-size: 14px;
    padding: 8px 20px;
}
.container{
    padding: 0 7%;
}
.container h1{
    color: #fff;
    font-size: 4vw;
    font-weight: 500;
    text-align: center;
    padding-top: 22%;
}
.search-bar{
    background: #fff;
    width: 70%;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
    margin: 30px auto;
}
.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.search-bar form input{
    display: block;
    outline: none;
    border: 0;
    background: transparent;
}
.search-bar form button{
    background: #ff5361;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.search-bar form button img{
    width: 15px;
    margin-top: 7px;
}
.location-input{
    flex: 1;
}
.search-bar form label{
    font-weight: 600;
}

/*--------Exclusive-------------*/
.sub-title{
    font-size: 2.2vw;
    margin: 50px 0 20px;
    font-weight: 500;
    color: #333;
}
.exclusive{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}
.exclusive div img{
    border-radius: 10px;
    width: 100%;
}
.exclusive div{
    position: relative;
}
.exclusive div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

/*----------Trending places----------------*/
.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.trending div img{
    border-radius: 10px;
    width: 100%;
}
.trending h3{
    font-weight: 600;
    margin-top: 10px;
}

/*------Call To Action----------*/
 .cta{
    margin: 80px 0; 
    background-image: linear-gradient(to right,#3f2321,transparent),url(images/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
 }
 .cta h3{
    font-size: 4vw;
    font-weight: 500;
    line-height: 5.3vw;
 }
 .cta p{
    font-size: 18px;
    margin: 10px 0;
 }
 .cta-btn{
    background: #ff5361;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
 }
 .stories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.stories div img{
    width: 100%;
    border-radius: 10px;
}
.stories div{
    position: relative;
    text-align: center;
}
.stories p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 26px;
}
.start-btn{
    text-decoration: none;
    background: #ff5361;
    color: #fff;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    margin: 60px auto;
    font-size: 20px;
}
.about-message{
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}
.about-message h2{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}
.footer{
    margin: 80px 0 10px;
    text-align: center;
}
.footer i{
    color: #999;
    text-decoration: none;
    font-size: 22px;
    margin: 0 10px;
}
.footer hr{
    border: 0;
    background: #999;
    height: 1px;
    width: 100%;
    margin: 20px 0;
}
.footer p{
    padding-bottom: 15px;
}
nav .fa-bars{
    display: none;
}


/*---------For small screen devices------------*/

@media only screen and (max-width:700px){
    .logo{
        position: fixed;
        top: 4%;
        left: 7%;
    }
    nav .fa-bars{
        display: block;
        position: fixed;
        top: 4%;
        right: 7%;
        color: #fff;
        font-size: 28px;
    }
    nav{
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 100px 7% 0;
        background: #000;
        text-align: right;
        max-height: 90px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav .nav-links li{
        margin: 10px 0;
        display: block;
    }
    .register-btn{
        margin: 15px 0 30px;
        display: inline-block;
    }
    .active::after{
        left: -40px;
        transform: translate(0,50%);
        bottom: 50%;
    }
    .hidemenu{
        min-height: 300px;
    }
    .header h1{
        padding-top: 200px;
        font-size: 7vw;
    }
    .search-bar{
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }
    .search-bar form{
        display: block;
    }
    .search-bar form input{
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .search-bar form button{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .sub-title{
        font-size: 6vw;
    }
    .cta{
        padding: 15% 5%;
    }
    .cta h3{
        font-size: 7vw;
        line-height: 8vw;
    }
    .cta p{
        font-size: 14px;
    }
    .cta-btn{
        padding: 6px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;
    }
    .stories p{
        font-size: 22px;
    }
    .about-message{
        font-size: 15px;
    }
}

/*---------Listing page-----------------*/
.navbar-white{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.navbar-white .nav-links li a{
    color: #000;
}
.navbar-white .register-btn{
    background: #ff5361;
    color: #fff;
}
nav.navbar-white .fa-bars{
    color: #000;
}
.navbar-white .active::after{
    background: #ff5361;
}

/* ---------Container with left and right column ---------*/

.list-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-col{
    flex-basis: 70%;
}
.right-col{
    flex-basis: 25%;
}
.left-col h2{
    color: #333;
    font-weight: 600;
    margin: 30px;
    font-size: 25px;
    margin-left: 0;
}
.house{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}
.house-image{
    flex-basis: 40%;
}
.house-info{
    flex-basis: 58%;
    color: #555;
}
.house-image img{
    width: 100%;
    border-radius: 12px;
}
.house-info h3{
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}
.house-info i{
    color: #ff5361;
    font-size: 18px;
    margin: 10px 1px;
}
.house-price{
    text-align: right;
}
.house-price h4{
    font-size: 20px;
}
.house-price h4 span{
    font-size: 16px;
    font-weight: 500;
}